extends ../template

block variables
  - var title = "Welcome"

block content
  header.header
    .header__nav-bar
      .header__socials
        ul.socials
          -
            var socials = [
              ["vk", "https://vk.com/alexanderpatsura"],
              ["github", "https://github.com/AlexandrPatsura"],
              ["in", "https://www.linkedin.com/in/alexander-patsura-355a8b13b/"]
            ]
          each social in socials
            li.socials__item
              a.socials__link(href=`${social[1]}`, class=`socials__item_${social[0]}`, target="_blank")
                svg(width="30" height="22").socials__sprite
                  use(xlink:href=`assets/images/sprites/sprite.svg#${social[0]}`)
      .toggle-menu
        span.sandwich
          span.top
          span.center
          span.bottom
      nav.menu-fullscreen
        ul.menu
          -
            var pages = [
              ["works.html", "Мои работы"],
              ["about.html", "Обо мне"],
              ["blog.html", "Блог"],
              ["index.html", "Авторизация"],
            ]
          each page in pages
            li.menu-fullscreen__item
              a(href=`${page[0]}`).menu-fullscreen__link.title.title-color #{page[1]}
    .user__card
      .welcome
        .user__avatar
          img(src="assets/images/avatar.jpg", alt="User-avatar").user__img
        .info__user.info_color
